@font-face {
  font-family: acorncaps;
  src: url('assets/acorncaps.ttf');
  font-style: normal;
}


.button1 {
  background-image: url('assets/button1.png');
  background-size: cover;
}

h2 {
  font-family: acorncaps;
  font-size: 36px;
  user-select: none;
}

h1 {
  font-family: acorncaps;
  font-size: 96px ;
  user-select: none;
}

#them {
  background-color: dimgray;
  height: 400px;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  user-select: none;
}

body {
  background: url('assets/menu_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.button1:hover {
  background-image: url('assets/button1hover.png');
  background-size: cover;
}
  
