@font-face {
  font-family: acorncaps;
  src: url('assets/acorncaps.ttf');
  font-style: normal;
}


.button1 {
  background-image: url('assets/button1.png');
  background-size: cover;
}

h2, h3 {
  font-family: acorncaps;
}
h1 {
  font-family: acorncaps;
  font-size: 96px ;
}

#them {
  background-color: dimgray;
  height: 400px;
  width: 100px;
  padding: 10px;
}
