@font-face {
  font-family: acorncaps;
  src: url('assets/acorncaps.ttf');
  font-style: normal;
}


.button1 {
  background-image: url('assets/button1.png');
  background-size: cover;
}

h2, h3 {
  font-family: acorncaps;
}
